.CounterBox {
    border: 5px solid black;
    margin: 10px;
}

.CounterText {
    font-size: 50px;
}


.odd {
    background: lightcoral;
}
.even {
    background: lightgreen;
}
.zero {
    background: lightblue;
}